In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(r'datasets\final_depression_dataset_1.xlsx')

In [4]:
df = df[df['Working Professional or Student'].str.lower() == 'student']

In [7]:
df = df.drop(columns='Profession', axis=1)

In [9]:
df.rename(columns={'Working Professional or Student': 'Profession'}, inplace=True)

In [11]:
df.to_excel(r'datasets\final_depression_dataset_2.xlsx', index=False)

In [12]:
df2 = pd.read_excel(r'datasets\student_depression_dataset.xlsx')

In [13]:
df2.head()

,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,33,Visakhapatnam,Student,5,0,8.97,2,0,'5-6 hours',Healthy,B.Pharm,Yes,3,1,No,1
1,Female,24,Bangalore,Student,2,0,5.90,5,0,'5-6 hours',Moderate,BSc,No,3,2,Yes,0
2,Male,31,Srinagar,Student,3,0,7.03,5,0,'Less than 5 hours',Healthy,BA,No,9,1,Yes,0
3,Female,28,Varanasi,Student,3,0,5.59,2,0,'7-8 hours',Moderate,BCA,Yes,4,5,Yes,1
4,Female,25,Jaipur,Student,4,0,8.13,3,0,'5-6 hours',Moderate,M.Tech,Yes,1,1,No,0

In [14]:
df = df[df2.columns]

In [46]:
combined_df = pd.concat([df,df2] , ignore_index=True)

In [16]:
combined_df.to_excel('combined_students_data.xlsx', index=False)

In [18]:
combined_df.isnull().sum()

Gender                                     0
Age                                        0
City                                       0
Profession                                 0
Academic Pressure                          0
Work Pressure                            502
CGPA                                       0
Study Satisfaction                         0
Job Satisfaction                         502
Sleep Duration                             0
Dietary Habits                             0
Degree                                     0
Have you ever had suicidal thoughts ?      0
Work/Study Hours                           0
Financial Stress                           0
Family History of Mental Illness           0
Depression                                 0
dtype: int64

In [30]:
combined_df['Have you ever had suicidal thoughts ?'].value_counts()

Have you ever had suicidal thoughts ?
Yes    17916
No     10487
Name: count, dtype: int64

In [45]:
print(type(combined_df))

<class 'NoneType'>

In [48]:
combined_df = combined_df.drop(['Work Pressure', 'Job Satisfaction'], axis=1)

In [64]:
combined_df = pd.read_excel(r'datasets\combined_students_data.xlsx')

In [66]:
combined_df

,Gender,Age,City,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,M,28,Varanasi,2,6.51,4,7.5,Moderate,BA,1,9,2,1,0
1,M,28,Bangalore,4,7.48,5,5.5,Healthy,MD,1,7,1,1,0
2,M,25,Rajkot,1,7.21,3,5.5,Unhealthy,MBBS,1,10,4,0,1
3,M,23,Mumbai,1,9.90,4,9.0,Unhealthy,MSc,1,7,2,1,0
4,F,31,Vadodara,1,5.97,5,9.0,Healthy,LLM,1,4,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28398,F,27,Surat,5,5.75,5,5.5,Unhealthy,'Class 12',1,7,1,1,0
28399,M,27,Ludhiana,2,9.40,3,4.5,Healthy,MSc,0,0,3,1,0
28400,M,31,Faridabad,3,6.61,4,5.5,Unhealthy,MD,0,12,2,0,0
28401,F,18,Ludhiana,5,6.88,2,4.5,Healthy,'Class 12',1,10,5,0,1
28402,M,27,Patna,4,9.24,1,4.5,Healthy,BCA,1,2,3,1,1

In [67]:
combined_df['Depression'].value_counts()

Depression
1    16588
0    11815
Name: count, dtype: int64